div{
    border-style: solid;
    border-width: 5px;
    border-color: green;
    padding: 30px;
}

.row{
    border-color: cyan;
    border-radius: 100px;
}
body {
    background-color: grey;
}
/*background color*/
.list-group-item {
    border: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: cyan;
    font-family: monospace;
    font-size: 20px;
}

body{
    font-size: 20px;
}

article a {
    color: cyan;    
}

p{
    font-family: monospace;
}

h1{
    color:cyan;
}

p{
    color:lightgray;
}



